StudnetManagement/Connected Services/LoginPageService/LoginPageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55985/LoginPageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" />
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" minOccurs="0" name="studentData" nillable="true" type="q1:StudentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" minOccurs="0" name="GetUserDataResult" nillable="true" type="q2:StudentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>