StudnetManagement/Connected Services/StudentRegistrationService/StudentRegistrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55985/StudentRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" />
  <xs:element name="GetCountOfStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" minOccurs="0" name="studentData" nillable="true" type="q1:StudentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountOfStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesFromCoursestbl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesFromCoursestblResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" minOccurs="0" name="GetCoursesFromCoursestblResult" nillable="true" type="q2:ArrayOfCoursesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataSelectedCoursestbl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" minOccurs="0" name="studentData" nillable="true" type="q3:StudentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataSelectedCoursestblResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDataSelectedCoursestblResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>