StudnetManagement/Connected Services/StudentRegistrationService/StudentRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55985/StudentRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55985/StudentRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55985/StudentRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentRegistrationService_GetCountOfStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentRegistrationService_GetCountOfStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentRegistrationService_GetCoursesFromCoursestbl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesFromCoursestbl" />
  </wsdl:message>
  <wsdl:message name="IStudentRegistrationService_GetCoursesFromCoursestbl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesFromCoursestblResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentRegistrationService_InsertDataSelectedCoursestbl_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataSelectedCoursestbl" />
  </wsdl:message>
  <wsdl:message name="IStudentRegistrationService_InsertDataSelectedCoursestbl_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataSelectedCoursestblResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentRegistrationService">
    <wsdl:operation name="GetCountOfStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentRegistrationService/GetCountOfStudent" message="tns:IStudentRegistrationService_GetCountOfStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentRegistrationService/GetCountOfStudentResponse" message="tns:IStudentRegistrationService_GetCountOfStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoursesFromCoursestbl">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentRegistrationService/GetCoursesFromCoursestbl" message="tns:IStudentRegistrationService_GetCoursesFromCoursestbl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentRegistrationService/GetCoursesFromCoursestblResponse" message="tns:IStudentRegistrationService_GetCoursesFromCoursestbl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataSelectedCoursestbl">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentRegistrationService/InsertDataSelectedCoursestbl" message="tns:IStudentRegistrationService_InsertDataSelectedCoursestbl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentRegistrationService/InsertDataSelectedCoursestblResponse" message="tns:IStudentRegistrationService_InsertDataSelectedCoursestbl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentRegistrationService" type="tns:IStudentRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountOfStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentRegistrationService/GetCountOfStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoursesFromCoursestbl">
      <soap:operation soapAction="http://tempuri.org/IStudentRegistrationService/GetCoursesFromCoursestbl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDataSelectedCoursestbl">
      <soap:operation soapAction="http://tempuri.org/IStudentRegistrationService/InsertDataSelectedCoursestbl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentRegistrationService">
    <wsdl:port name="BasicHttpBinding_IStudentRegistrationService" binding="tns:BasicHttpBinding_IStudentRegistrationService">
      <soap:address location="http://localhost:55985/StudentRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>