StudnetManagement/Connected Services/StudentRegistrationService/StudentRegistrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" type="xs:int" />
      <xs:element minOccurs="0" name="Courses" nillable="true" type="tns:ArrayOfCoursesData" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentData" nillable="true" type="tns:StudentData" />
  <xs:complexType name="ArrayOfCoursesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoursesData" nillable="true" type="tns:CoursesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoursesData" nillable="true" type="tns:ArrayOfCoursesData" />
  <xs:complexType name="CoursesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoursesData" nillable="true" type="tns:CoursesData" />
</xs:schema>