StudnetManagement/Connected Services/AdminDashboardService/AdminDashboardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminDashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55985/AdminDashboardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55985/AdminDashboardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55985/AdminDashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentManagement_Service.StudentData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminDashboardService_GetCountOfStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfStudent" />
  </wsdl:message>
  <wsdl:message name="IAdminDashboardService_GetCountOfStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminDashboardService_GetDataFromUsertbl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromUsertbl" />
  </wsdl:message>
  <wsdl:message name="IAdminDashboardService_GetDataFromUsertbl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromUsertblResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminDashboardService_UpdateStudentStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentStatus" />
  </wsdl:message>
  <wsdl:message name="IAdminDashboardService_UpdateStudentStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminDashboardService">
    <wsdl:operation name="GetCountOfStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminDashboardService/GetCountOfStudent" message="tns:IAdminDashboardService_GetCountOfStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminDashboardService/GetCountOfStudentResponse" message="tns:IAdminDashboardService_GetCountOfStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFromUsertbl">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminDashboardService/GetDataFromUsertbl" message="tns:IAdminDashboardService_GetDataFromUsertbl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminDashboardService/GetDataFromUsertblResponse" message="tns:IAdminDashboardService_GetDataFromUsertbl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminDashboardService/UpdateStudentStatus" message="tns:IAdminDashboardService_UpdateStudentStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminDashboardService/UpdateStudentStatusResponse" message="tns:IAdminDashboardService_UpdateStudentStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminDashboardService" type="tns:IAdminDashboardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountOfStudent">
      <soap:operation soapAction="http://tempuri.org/IAdminDashboardService/GetCountOfStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataFromUsertbl">
      <soap:operation soapAction="http://tempuri.org/IAdminDashboardService/GetDataFromUsertbl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentStatus">
      <soap:operation soapAction="http://tempuri.org/IAdminDashboardService/UpdateStudentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminDashboardService">
    <wsdl:port name="BasicHttpBinding_IAdminDashboardService" binding="tns:BasicHttpBinding_IAdminDashboardService">
      <soap:address location="http://localhost:55985/AdminDashboardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>